extends layout

block content
	script(src="javascripts/dashboard_new.js")
	div(class="grid")
		div(class="row")
			h4="Service Info"
		div(class="row")
			table
				each item in list
					tr
						td(width="64px")
							img(src=item.icon, width="64px", height="64px")
						td
							h3=item.name
							div(class="body-text")=item.description
						td(width="64px")
							center
								h3=item.points
								div(class="body-text")=item.time